*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: #111;
}

header a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
}

.text {
    font-size: 1.5rem;
    font-weight: bold;
}

/*.typing {
    font-size: 28px;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
}*/

.swiper {
    height: 30rem;/*altura da sessão*/
    position: relative;/*posição relativa em relação a viewport(tela)*/
}

.swiper-slide {/*aqui estamos chamado uma das classes*/
    background-size: cover;
    background-position: center top;
}

.carousel-text {
    position: absolute; /*centraliza o elemento exatamente no meio do container (corrige o deslocamento)*/
    top: 20%;
    left: 50%;
    z-index: 999;
    padding: 1em;
    color: black;
    background-color: rgba(255, 255, 255, 0.37);
    transform: translate(-50%, -50%); /*centraliza o elemento exatamente no meio do container (corrige o deslocamento)*/
}

.carousel-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.carousel-text p {
    font-size: 1.25em;
}

.caixa-01 {
    background-image: url(img/hype-messi-4k-ultra-hd-cy8c7jsaxcz0l9wn.webp);
}

.caixa-02 {
    background-image: url(img/bomba-de-punho-messi-4k-ultra-hd-w9avf1ytzxsis77h.webp);
}
.caixa-03 {
    background-image: url(img/execute-messi-4k-ultra-hd-qssxpofch6714jho.webp);
}
